flask
flask-cors
flask-mail
flask-babel
flask-sqlalchemy
gunicorn
python-dotenv

numpy
pandas
scikit-learn
matplotlib
seaborn
plotly

google-generativeai
google-ai-generativelanguage
google-api-python-client

requests
